.book-link {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.book-image {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 0.625rem; /* 10px */
}

.book-link:hover .book-image {
    transform: scale(0.95);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* 0 4px 8px */
    border-radius: 0.625rem; /* Ensure corners remain rounded */
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    z-index: 1;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr)); /* 200px */
    gap: 1.25rem; /* 20px */
    justify-items: center;
}

.book-grid .col {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.book-grid .col:nth-child(odd) {
    transform: translateY(5rem); /* 5em */
}

.book-grid .col:nth-child(even) {
    transform: translateY(15rem); /* 15em */
}