.headInfo {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.headings .title {
    text-align: center;
    font-size: 2rem; 
}

.headings .genre,
.headings .author {
    text-align: left;
    width: 100%;
    font-size: 1.5rem;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    gap: 1rem;
}

.edit-button, .download-button {
    padding: 0.6rem 1.3rem;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s ease, width 0.3s ease;
    width: 20%;
    max-width: 300px; 
    min-width: 150px; 
    margin-left: auto;
    margin-right: auto;
}

.edit-button:hover, .download-button:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .headInfo {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .headings .genre,
    .headings .author {
        text-align: center;
    }

    .button-group {
        align-items: center;
        margin-left: 0;
    }

    .edit-button, .download-button {
        width: 80%;
        margin-left: 0;
    }

    #pdfContainer {
        display: none;
    }
}